[submodule "web3signer-hashicorp-docker-compose/signer-configuration-generator"]
	path = web3signer-hashicorp/signer-configuration-generator
	url = https://github.com/usmansaleem/signer-configuration-generator/
